
body {
  margin: 0;
  height: 100vh;
  display: flex;
  color: #2b2b2b;
  flex-direction: column;
  background-color: #f3f7fc;
}

#graph-paper {
  flex-grow: 1;
  margin: 1rem;
  border: 1px solid #2b2b2b;
}
